footer.section-works 
    div.footer-works__div
        div.section-works__div-top  
            div
               h1 Got a project in 
               h1 mind?
               img(src="/Group 2372.png", alt="group")
        div  
            div 
               h3 Your name 
               input(type="text" placeholder="Name")
               h3 Your email 
               input(type="text" placeholder="Email")
            div
               h3 Your message 
               input(type="text" placeholder="Message")
               
        