link(rel="stylesheet", href="/scss/header.scss")

header.header 
   div.header__div.continer
     div.header__div-left 
       a(href="") SaulDesign
     div.header__div-right
        a(href="") Home
        a(href="") About Me
        a(href="") Contact 