section.section-home 
   div.section-home__div.continer 
     div.section-home-left 
       h1 CREATIVE UI
       h2 DESIGNER
       div 
        button.bnt Hire me
        button.bntt Download CV
     div.section-home-right
       img(src="/img/2024-06-06_18-31-07.png", alt="")