doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SaulDesign
        link(rel="stylesheet", href="/scss/style.css")
    body

     include header
     include home
     include about
     include works 
     include footer 
        

       