link(rel="stylesheet", href="/111/scss/works.css")
section.section-works
    div.section-works__div
      div.section-works__div-top
        div    
          h1 My recent works
        div  
          button All
          button Ul
          button UX
          button Web Design
      div.section-works__div-button 
           img(src="/Frame 10.png", alt="frame")
           img(src="/Frame 11.png", alt="Frame")
           img(src="/Frame 10 (1).png", alt="FRAME")